.sidebar{
    width: 300px;
    min-height: 100vh;
    background-color: cadetblue;
    float: left;
}

.sidebar .profile{
    height: 300px;
    width: 100%;
    /* background-color: darkgoldenrod; */
}

.sidebar .content-menu{
    background-color: darkgoldenrod;
}